<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>
 
   <test name = "Parallel Tests" parallel = "methods" thread-count = "2">
    <classes>
      <class name="com.st.test.FlipkartLoginTest"/>
      <class name="com.st.test.DashBoardTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
